#contact{
    width: 1000px;	
    margin: auto;
}
#contact1{
    padding-top: 30px;
    width: 1000px;
    height: 900px;
    border: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#contact1 .sale_off{
    text-align: center;
    font-family: 'Lato', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    color: red;
}
#contact1 .slide{
    float: left;
    width: 600px;
    padding: 130px 20px;
}

#contact1 img{
    width: 600px;
    height: 400px;
    border-radius: 50px;
}
.mySlides3 {
    display:none; 
    width:100%
}
.display-container{
    position:relative;
}
.button-left{
    left:1%;
    font-size:20px
}
.button-right{
    right:1%; 
    font-size:20px 
}
.image-button{
    border:none;
    display:inline-block;
    padding:10px;
    height:50px;
    vertical-align:middle;
    overflow:hidden;
    color:#fff;
    background:#000;
    position:absolute;
    top:calc(50% - 25px);
    opacity:0.5;
}
.image-button:hover{
    color:#000;
    background:#ccc;
}
.badge {
    text-align:center; 
    margin-bottom:16px; 
    font-size:20px;
    position:absolute;
    bottom:0;
}
.badge-white{
    color:#000!important;
    background-color:#fff!important;
}
.image-badge {
    display:inline-block;
    border-radius:50%;
    height:14px;
    width:14px; 
    border:1px solid #ccc;
}
.image-badge:hover{
    background:#fff;
}
#contact1 .post{
    height: 450px;
    float: left;
}
#contact1 .post .post1{
    float: left;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 200px;
}
button{ 
    width: 100px;
    height: 40px;
    background-color: bisque;
}
#contact2{
    width: 100%;
    border: groove;
    float: left;    
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#contact2 #form_booking .date{
    margin-top: 40px;
    float: left;
    width: 100%;
    position: relative;
    left: 150px;
}
#contact2 #form_booking .date .check_in_out{
    float: left;
    text-align:center; 
    border:none;
    background:#1490AC;
    color:white;
    width: 30%;
    height: 70px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin: 0px 10px;
}
#contact2 #form_booking .person_book{
    float: left;
    width: 100%;
    position: relative;
    left: 150px;
    text-align:center; 
    border:none;
    background:#1490AC;
    color:white;
    width: 30%;
    height: 70px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin: 10px 10px;
}
#contact2 .thongtin{
    margin-top: 40px;
    float: left;
    width: 100%;
    text-align: center;
}
#contact2 .thongtin .thongtin_main table{
    width: 75%;
    margin-left: 110px;
    text-align: justify;
}
#contact2 .thongtin .thongtin_main table tr td{
    border-bottom: 1px solid #ccc;
}
#contact2 .thongtin .thong-tin-khach-hang{
    text-align: justify;
    padding: 10px 50px;
    margin-left: 60px;
}
#contact2 .thongtin .thong-tin-khach-hang .form-control{
    float: right;
    margin-right: 500px;
}
#agree{
    margin-left: 110px;
}
.submit_tt{
    margin-bottom: 10px;
    background-color: #1490ac;
    color: #fff;
    font-weight: 500;
}
/* #footer{
    float: left;
    width: 100%;
	height:100px;
    color:white;
	background: black;	
    margin-top: 20px;
}
#footer p{
    text-align: center;
    padding-top: 20px;
} */