#contact{
    width:1000px;
    height:1000px;
    clear: both;	
	margin: 0 auto;
}
#contact1{
    padding-top: 20px;
    height:200px;
    color: black;
    float:center;
    text-align: center;
}
#contact2{
    width: 900px;
    height:750px ;
    border: groove tan ;
    background-color:beige;
    margin: auto;
}
#contact2 .section1{
    height:280px ;
}
#contact2 .section1_child{
    float: left;
    width:400px;
    padding-left: 35px;
}
#contact2 .section1_child >h1{
    color: goldenrod;
    font-size: 20px;
}
#contact2 .section2{
    padding-top: 20px;
    height:345px ;
    background-color:whitesmoke;
}
#contact2 .section2 >h1{
    color: goldenrod;
    text-align: center;
}
#contact2 .section2 .thong-tin-khach-hang{
    text-align: justify;
    padding: 10px 50px;
    margin-left: 60px;
}
#contact2 .section2 .thong-tin-khach-hang .form-control{
    float: right;
    margin-right: 280px;
    width: 350px;
}
.submit_tt{
    margin-left: 430px;
    margin-bottom: 10px;
    background-color: goldenrod;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
/* form{
    float: left;
    padding-left: 50px;
}
textarea{
    border-radius: 3%;
}
button{
    border-color: azure;
    background-color: darkgoldenrod;
    width: 100px;
    height: 30px;
} */
/* #footer{
	height:100px;
    color:white;
	background: black;	
}
#footer center{
    padding-top:20px;
} */