
/* #about_us{
    margin-top: -20px;
}
#about_us .left1{
    width: 50%;
    min-height: 300px;
    float: left;
}
#about_us .left1 img{
    float: right;
    margin-right: 10px;
    width: 550px;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#about_us .right1{
    width: 50%;
    min-height: 300px;
    float: left;
}
#about_us .right1 p{
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-left: 30px;
}
#about_us .right1 #gt{
    font-size: 40px;
    font-weight: bold;
    padding: 90px 0px;
    width: 600px;
    font-family: Verdana;
}
#about_us .right1 a{
    text-decoration: none;
    color: black;
    border-color: 2px solid silver;
    position: relative;
    left: 30px;
    font-family: Verdana;
    letter-spacing: 5px;
    border-bottom: 2px solid #d4d4d4;
}
#about_us .right1 a:hover{
    border-bottom: 2px solid black;
} */

#about{
    margin-top: -90px;
    background-color: aliceblue;
    height: 400px;
}

#about #to{
    font-size: 50px;
    font-family: 'Allison', cursive;
    font-style: italic ;
}

#about #nho{
    color: #848484;
    font-size: 20px;
}

/* #center1{
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    min-height: 200px;
}
#center1 p{
    text-align: center;
}
#center1 #owl1{
    font-family: 'Allison', cursive;
    font-size: 35px;
    font-style: italic;
}
#center1 #owl2{
    padding: 0px 200px;
    margin: 0px;
    font-family: Verdana;
    font-size: 20px;
} */

#room{
    margin: 10px;
    margin-top: 50px;
    float: left;
    width: 31.8%;
    height: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 10px 10px silver;
}
#room img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.3s linear;
    display: block;
}
#room img:hover{
    transform: scale(1.15);
    transition: all 0.3s linear;
}
#rooms div{
    display: block;
    overflow: hidden;
}
#introduce{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    background-color:white;
    float: left;
    width: 31.8%;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 10px silver;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#introduce a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Lato', sans-serif; 
}
#introduce .title{
    padding: 0px 30px;
    height: 300px;
}
#introduce .title span{
    color: #848484;
    padding: 0px 15px;
}
#introduce .readmore{
    font-size: 15px;
    color: black;
    position: relative;
    bottom: -30px;
    font-weight: bold;
    letter-spacing: 3px;
}
#introduce .readmore:hover{
    border-bottom: 2px solid #d4d4d4;
}
#viewall{
    margin-top: 30px;
    float: left;
    width: 100%;
}
#viewall a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif; 
    letter-spacing: 5px;
}
#viewall a:hover{
    color: #848484;
}

#cuoi{
    display: flex;
    margin-top: 50px;
    background-color: black;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    height: 320px;
}
#cuoi #b1{
    background-color: black;
    border-radius: 15px;
}
#cuoi #b2{
    background-color: black;
    font-size: 20px;
    color: #fff;
}
#cuoi #b3{
    background-color: black;
    font-size: 20px;
    color: #fff;
    margin-left: 100px;
}
#cuoi #b4 {
 margin-left: 70px;
 margin-top: 20px;
   }
#cuoi #b4 img{
 width: 250px;
 border-radius: 15px;
}
#cuoi #b1 img{
    width: 250px;
    border-radius: 15px;
    margin-left: 20px;
}
#cuoi #b1 i{
    margin-left: 30px;
}