#gioithieu{
    margin: auto;
    background-color: aliceblue;
    width: 300px;
    height: 150px;
    border-radius: 15px;
}

#gioithieu #to{
    font-size: 50px;
    font-family: 'Allison', cursive;
    font-style: italic;
}

#gioithieu #nho{
    font-size: 20px;
    color: darkgrey;
}
#main{
    float:left;
    display: flex;
}

#main #anh img{
    margin-left: 30px;
    border-radius: 15px;
    width: 650px;
}
#main #chu{
    margin-left: 30px;

}
#main #chu p{
    font-size: 20px;
}
#khoangtrang{
    margin: auto;
    background-color: aliceblue;
    height: 50px;
    border-radius: 15px;
    margin-top: 450px;
    width: 300px;
}

#ke{
    display: flex;
}
#ke #a1{
    font-size: 35px;
    margin-left: 50px;
    width: 300px;
}

#ke #a2{
    font-size: 35px;
    margin-left: 200px;
    width: 400px;
}

#ke #a3{
    font-size: 35px;
    margin-left: 250px;
}

#anhdatphong{
    background-image: url('/img/z4376958429732_c8f636b88fb33001e13fb4169b95b80b.jpg');
    height: 470px;
    margin-left: 15px;
    margin-right: 15px;
}

#anhdatphong #chudatphong p{
    font-size: 60px;
    color: #fff;
}

#anhdatphong #datphong >ul>li{
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    background-color: #fff;
    color: black;
    height: 30px;
    
}

#anhdatphong #datphong >ul >li >a{
    padding-left: 0px;
    color: black;
    font-size: 20px;
    font-style: normal;
}

#anhdatphong #datphong li{list-style-type:none ;}

#anhdatphong #datphong a{
    text-decoration: none;
}

#anhdatphong #datphong li:hover >ul{display: block;}
#cuoi{
    display: flex;
    margin-top: 50px;
    background-color: black;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    height: 320px;
}
#cuoi #b1{
    background-color: black;
    border-radius: 15px;
}
#cuoi #b2{
    background-color: black;
    font-size: 20px;
    color: #fff;
}
#cuoi #b3{
    background-color: black;
    font-size: 20px;
    color: #fff;
    margin-left: 100px;
}
#cuoi #b4 {
 margin-left: 70px;
 margin-top: 20px;
   }
#cuoi #b4 img{
 width: 250px;
 border-radius: 15px;
}
#cuoi #b1 img{
    width: 250px;
    border-radius: 15px;
    margin-left: 20px;
}
#cuoi #b1 i{
    margin-left: 30px;
}

#dau{
    display: flex;
}

#dau #a1{
    font-size: 50px;
    margin-left: 30px;
    margin-top: -70px;
}

#dau #a2{
    font-size: 50px;
    color: red;
    margin-left: 300px;
    margin-top: -70px;
}

#tinhnang{
    margin-left: 30px;
    font-size: 20px;
    margin-top: -60px;
    color: darkgrey;
}
#cactinhnang{
    display: flex;
}

#cactinhnang #b1{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 20px;
}

#cactinhnang #b2{
    font-size: 40px;
    margin-left: 10px;
}

#cactinhnang #b3{
    font-size: 60px;
    margin-left: 150px;
    margin-top: 20px;
}

#cactinhnang #b4{
    font-size: 40px;
    margin-left: 10px;
}
h2{
    margin-left: 30px;
}

#chu{
    margin-left: 30px;
    font-size: 20px;
    color: darkgray;
}

#tienich{
    display: flex;
}

#tienich #c1{
    margin-left: 100px;
    font-size: 100px;
}

#tienich #c2{
    margin-left: 400px;
    font-size: 100px;
}

#tienich #c3{
    margin-left: 400px;
    font-size: 100px;
}

/* #noiquy #d1{
    font-size: 30px;
    font-style: normal;
} */

#noiquy #d2{
    font-size: 20px;
    font-style: normal;
}

#noiquy #d3{
    font-size: 20px;
    font-style: normal;
}
#noiquy #d4{
    font-size: 20px;
    font-style: normal;
}