#dichvu{
    float: left;
    margin-top: -20px;
    width: 100%;
}
#dichvu .left1{
    width: 50%;
    min-height: 300px;
    float: left;
}
#dichvu .left1 img{
    float: right;
    margin-right: 10px;
    width: 550px;
    height: 500px;
    border-radius: 50px;
}
#dichvu .right1{
    width: 50%;
    min-height: 300px;
    float: left;
}
#dichvu .right1 p{
    /* letter-spacing: 5px; */
    word-spacing: 5px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
#dichvu .right1 #gt{
    font-size: 25px;
    font-weight: bold;
    padding: 90px 0px;
    width: 600px;
    font-family: Verdana;
}
#dichvu .right1 a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 30px;
    font-family: Verdana;
    letter-spacing: 5px;
    border-bottom: 2px solid #d4d4d4;
}
#dichvu .right1 a:hover{
    border-bottom: 2px solid black;
}
#center2{
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    min-height: 100px;
}
#center2 p{
    text-align: center;
}
#center2 #owl1{
    font-family: 'Allison', cursive;
    font-size: 35px;
    font-style: italic;
}
#anhdatphong_{
    float: left;
    background-image: url('/img/h13.jpg');
    width: 98%;
    height: 470px;
    margin-left: 15px;
    margin-right: 15px;
}

#anhdatphong_ #chudatphong p{
    font-size: 60px;
    color: #fff;
}

#anhdatphong_ #datphong >ul>li{
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    background-color: #6e6b6b;
    border-radius: 20px;
    height: 30px;
}

#anhdatphong_ #datphong >ul >li >a{
    padding-left: 0px;
    color: black;
    font-size: 20px;
    font-style: normal;
}

#anhdatphong_ #datphong li{list-style-type:none ;}

#anhdatphong_ #datphong a{
    text-decoration: none;
}

#anhdatphong_ #datphong li:hover >ul{display: block;}